@model Category

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Category Details</h4>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Name:</strong> @Model.Name</p>
                <p><strong>Is Main Category:</strong> @(Model.IsMain ? "Yes" : "No")</p>
                @if (Model.IsMain)
                {
                    <p><strong>Parent:</strong> None</p>
                }
                else
                {
                    <p><strong>Parent:</strong> @Model.Parent.Name</p>
                }
                <p><strong>Status:</strong> @(Model.IsDeactive ? "Deactivated" : "Active")</p>
            </div>
            <div class="col-md-6">
                @if (Model.IsMain)
                {
                    <p>
                        <strong>Children:</strong>
                        @if (Model.Children != null)
                        {
                            <ul>
                                @foreach (Category child in Model.Children)
                                {
                                    <li>@child.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                        <p>None</p>
                        }
                    </p>
                }
                else
                {
                    <p><strong>Children:</strong> None</p>
                }
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                @if (Model.Img != null)
                {
                    <p><strong>Image:</strong></p>
                    <img src="~/assets/images/@Model.Img" class="img-thumbnail" style="max-width: 300px;">
                }
                else
                {
                    <p>No Image</p>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
</div>
